<div class="text-center">
    <h1 class="text-info pt-4">Congratulacions! You are one step closer to amazing food.</h1>
    <p class="pb-3">We have received your order and your payment will be processed soon!</p>
    <img src="https://static.vecteezy.com/system/resources/previews/005/086/052/original/the-salesperson-has-successfully-confirmed-the-big-project-order-free-vector.jpg" width="60%"/>
</div>